$primary-color: #21AEB6 !default;

$display-small: 576px !default;
$display-medium: 768px !default;
$display-large: 992px !default;
$display-extra-large: 1200px !default;

$container-large-desktop: 1170px !default;
$container-desktop: 970px !default;
$container-tablet: 750px !default;

$padding-base: 8px !default;
$radius-base: 6px !default;
