$modal-default-width: 500px !default;
$modal-default-width-tablet: 400px !default;

$modal-small-width: 300px !default;
$modal-small-width-tablet: 300px !default;

$modal-large-width: 700px !default;
$modal-large-width-tablet: 500px !default;

$modal-backdrop: rgba(0, 0, 0, 0.4) !default;
$modal-radius: 6px !default;
$modal-padding-base: 8px !default;
$modal-depth: 9 !default;
$modal-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.4) !default;

$modal-display-small: 576px !default;
$modal-display-medium: 768px !default;
$modal-display-large: 992px !default;
$modal-display-extra-large: 1200px !default;
