@import "../variables/main";

.adap-pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin: 10px;
  user-select: none;

  li {
    a {
      box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, .6);
      position: relative;
      display: block;
      padding: .5rem .75rem;
      line-height: 1.25;
      background-color: #fff;
      text-decoration: none;
      margin: 0;

      &:hover {
        color: white;
        background-color: lighten($primary-color, 10%);
      }
    }

    &.active a {
      color: #fff;
      background-color: $primary-color;
      border-color: $primary-color;
    }

    &:first-child a {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &:last-child a {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
}
