@import "../variables/main";

.adap-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;

  li {
    a {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      background-color: #fff;
      border: 1px solid #ddd;
      text-decoration: none;

      &:hover {
        background-color: #e9ecef;
        border-color: #ddd;
      }
    }

    &.active a {
      color: #fff;
      background-color: $primary-color;
      border-color: $primary-color;
    }

    &:first-child a {
      margin-left: 0;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }

    &:last-child a {
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem;
    }
  }
}
