@import "../variables/main";

.form-group {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: #{$padding-base * 2};
  border-bottom: none;

  &.required {
    .control-label:after, .multiselect-label:after {
      content: "*";
      color: #b71c1c;
    }
  }

  .form-control {
    width: 100%;
  }

  .checkbox {
    margin-bottom: -10px;
  }
}
