.input-group {
  .input-group__label{
    user-select: none;
  }

  .input-group__error-message {
    color: $danger-color;
  }

  &.input-group--required {
    .input-group__label {
      &:after {
        content: "*";
        color: #b71c1c;
      }
    }
  }

  &.input-group--checkbox {
    .input-group__input {
      vertical-align: baseline;
    }
  }

  &.input-group--text {
    line-height: 2em;

    .input-group__input {
      width: 100%;
    }
  }

  .input-group__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > * {
      flex-shrink: 0;
    }
  }

  .input-group__input--date {
    flex-grow: 1;
    flex-shrink: unset;
    flex-basis: 0;
  }

  .input-group__clear {
    margin-left: 8px;
    opacity: .6;
    &:before {
      font-size: 26px;
      content: '×';
    }
    &:hover {
      opacity: .9;
    }
  }

  input[type=date]::-webkit-inner-spin-button,
  input[type=date]::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
  }
}
