.input-group {
  display: flex;
  flex-flow: column nowrap;
  border-bottom: none;

  &.input-group--required {
    .input-group__label:after {
      content: "*";
      color: #b71c1c;
    }
  }

  &.input-group--text .input-group__input {
    width: 100%;
  }
}
