@import "../variables/main";

.tip {
  .tip-content {
    user-select: none;
    position: absolute;
    bottom: 110%;
    z-index: 1;

    background: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    text-align: center;
    padding: 5px;
    color: rgba(255, 255, 255, 0.7);

    &.auto {
      left: 0;
      right: 0;

      &.compress-small {
        margin: 0 20px;
      }
      &.compress-medium {
        margin: 0 50px;
      }
      &.compress-large {
        margin: 0 80px;
      }

      &.extend-small {
        margin: 0 -20px;
      }
      &.extend-medium {
        margin: 0 -50px;
      }
      &.extend-large {
        margin: 0 -80px;
      }
    }

  }
}

